.deliverable {
  /*margin: 40px 0px;*/
}

.deliverable .primary {
  font-size: 1.3em;
  text-transform: uppercase;
  cursor: pointer;
  margin: 20px 0 0 0;
}

.deliverable .primary.due {
  color: #ff6767;
}

.deliverable .primary.warn {
  color: yellow;
}