<div class="deliverable" fxLayout="column">

  <p class="primary" (click)="toggle()" [ngClass]="{ 'due': isDue(), 'warn': shouldWarn() }">
    <span *ngIf="deliverable.getAtoms('status').value === 'publicado'">({{deliverable.getAtoms('milestone') | amTimeAgo}}) - </span>
    <span>{{deliverable.getAtoms('titulo')}}</span>
  </p>
  <app-progressbar [states]="states" [selected]="deliverable.getAtoms('status').label"></app-progressbar>

  <div [@hoverState]="hover" fxLayout="column">
    <div>
      <p *ngIf="deliverable.getAtoms('projeto')"><span class="label">projeto</span> {{deliverable.getAtoms('projeto').name}}</p>
      <p *ngIf="deliverable.getAtoms('milestone')"><span class="label">Previsão</span> {{deliverable.getAtoms('milestone') | date:'dd/MM/yy HH:mm':'-0300'}} ({{deliverable.getAtoms('milestone') | amTimeAgo}})</p>
      <p *ngIf="deliverable.getAtoms('sprint')"><span class="label">Sprint</span> {{deliverable.getAtoms('sprint').titulo}}</p>
      <p><span class="label">status</span> {{deliverable.getAtoms('status').label}}</p>
      <p><span class="label">descricao</span> {{deliverable.getAtoms('descricao')}}</p>
    </div>
    <span *ngIf="deliverable.getAtoms('status').value === 'backlog'">
      <button class="btn-warn" (click)="delete(deliverable)">EXCLUIR</button>
      <button class="btn-primary" (click)="addToSprint(deliverable)">ADICIONAR AO SPRINT</button>
    </span>

    <span *ngIf="deliverable.getAtoms('status').value === 'sprintbacklog'">
      <button class="btn-warn" (click)="backToBacklog(deliverable)">VOLTAR PARA BACKLOG</button>
      <button class="btn-primary" (click)="changeStatus(deliverable, 'desenvolvimento')">INICIAR DESENVOLVIMENTO</button>
    </span>

    <span *ngIf="deliverable.getAtoms('status').value === 'desenvolvimento'">
      <button class="btn-warn" (click)="changeStatus(deliverable, 'sprintbacklog')">VOLTAR PARA BACKLOG</button>
      <button>ALTERAR PREVISAO DE ENTREGA</button>
      <button class="btn-primary" (click)="changeStatus(deliverable, 'homologacao')">ENVIAR PARA HOMOLOGAÇÃO</button>
    </span>

    <span *ngIf="deliverable.getAtoms('status').value === 'homologacao'">
      <button class="btn-warn" (click)="changeStatus(deliverable, 'desenvolvimento')">VOLTAR PARA DESENVOLVIMENTO</button>
      <button class="btn-primary" (click)="changeStatus(deliverable, 'entregue')">APROVAR</button>
    </span>

    <span *ngIf="deliverable.getAtoms('status').value === 'entregue'">
      <button class="btn-warn" (click)="changeStatus(deliverable, 'homologacao')">VOLTAR PARA HOMOLOGAÇÃO</button>
      <button class="btn-primary" (click)="changeStatus(deliverable, 'publicado')">PUBLICAR</button>
    </span>

    <span *ngIf="deliverable.getAtoms('status').value === 'pendencia'">
      <button class="btn-warn" (click)="changeStatus(deliverable, 'backlog')">VOLTAR PARA BACKLOG</button>
    </span>
  </div>
</div>