<div class="deliverable-component appviewport">
  <h1>INBOX</h1>

  <div class="navigation">
    <span class="item" [ngClass]="{'selected': state === 'inbox'}" (click)="getDeliverables()">Minhas tarefas <span class="badge" *ngIf="totalDue > 0">{{totalDue}}</span></span>
    <span class="item" [ngClass]="{'selected': state === 'blocked'}" (click)="getPending()">Pendencias</span>
    <span class="item" [ngClass]="{'selected': state === 'done'}" (click)="getDone()">Finalizadas</span>
  </div>

  <div [@listState]="loadState" class="list">
    <app-deliverable
      *ngFor="let deliverable of deliverables"
      [deliverable]="deliverable"
      [moleculoid]="moleculoid"
      (onDelete)="onMolDelete($event)"
      (onUpdate)="onMolUpdate($event)">
    </app-deliverable>
  </div>
</div>