.navigation {
  border: 1px solid;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

.navigation .item {
  padding: 7px 11px;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
}

.navigation .item .badge {
  background: #ef5c5c;
  padding: 3px 6px;
  color: #FFF;
  border-radius: 100%;
  font-size: 8px;
  position: relative;
  top: -1px;
  display: inline-block;
  min-width: 4px;
}

.navigation .item.selected {
  background: aqua;
  color: #002525;
}

.deliverable-component {
  border-bottom: 1px solid aqua;
}

.deliverable-component .list {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}