<div *ngIf="isLogged" fxLayout="row" fxLayoutAlign="start center">
  <img src="../assets/favicon-32x32.png" alt="">
  <div fxFlex></div>
  <p>{{user.atoms.name}}</p>
  <button class="btn-warn" (click)="logout()">SAIR</button>
</div>
<form *ngIf="!isLogged">
  <h2>Login</h2>
  <input type="text" placeholder="Username" [(ngModel)]="username" name="username">
  <input type="password" placeholder="Password" [(ngModel)]="password" name="password">
  <button class="btn-primary" (click)="login()">LOGIN</button>
</form>