.state-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 10px;
  font-size: 8px;
  overflow: hidden;
}

.state-container .state {
  flex-grow: 1;
}

.state-container .state.selected {
  background: aqua;
  color: #002525;
}