<!--The content below is only a placeholder and can be replaced.-->
<div class="viewport">
  <app-auth></app-auth>
  <div class="content">
    <app-deliverables-list></app-deliverables-list>
  </div>
</div>