/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
    font-family: din;
    src: url(./assets/din.otf);
}

html, body, .viewport {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: #000;
  background-image: url('/assets/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  color: aqua;
  font-family: din;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.label {
  color: #00a5a5;
  text-transform: uppercase;
}

button {
  background: transparent;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
}

button.btn-primary {
  color: #00f300;
}

button.btn-warn {
  color: #ff5050;
}

.appviewport {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  max-height: 90vh;
  margin: 0 10px;
}